<div class="row" ng-controller="QuizesPageCtrl">
  <div class="col">
      <h1>Quiz List</h1>   
      <div class="list-group-item" ng-repeat="quiz in quizesPage.quizes" ng-click="quizesPage.select(quiz.id)">
        {{quiz.idQuiz}} {{quiz.name}}
        </div>
        <button ng-click="quizesPage.creatNew()">Create new</button>   
  </div>
  <div class="col">
    <div class="col-5" ng-if="quizesPage.selected && quizesPage.mode == 'show'">
        <h5>Quiz details</h5>
        <dl>
            <dt>Name</dt>
            <dd>{{quizesPage.selectedQuizTemp.name}}</dd>
            <dd></dd>
        </dl>
        <button ng-click="usersPage.edit()">Edit</button>
        <!-- <ng-include src="'user-details.tpl.html'"></ng-include> -->
    </div>
  <!--
      </div>
      <div ng-class="UsersEditFormCtrl" ng-if="usersPage.selected && usersPage.mode == 'edit'">
          <h5 ng-if="usersPage.formMode == 'edit'">You are edit user {{usersPage.selectedUserTemp.username}} with id {{usersPage.selectedUserTemp.id}}</h5>
          <h5 ng-if="usersPage.formMode == 'new'">You create new user</h5>

          <div class="form-group mb-3"><label for="user_name">User Name</label>
              <input id="user_name" type="text" class="form-control" ng-model='usersPage.selectedUserTemp.username'>
          </div>
          <div>
              <button class="btn btn-danger" ng-click='usersPage.save(usersPage.selectedUserTemp)'>Save</button>
              <button class="btn btn-danger"
                  ng-click='usersPage.deleteUser(usersPage.selectedUserTemp)'>delete</button>
          </div>
      </div>
  </div>
  -->
</div>
